# Archivos de bytecode de Python
__pycache__/
*.py[cod]
*$py.class

# Distribución / empaquetado
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
nimble-artwork-438818-k0-ade40f7834b6.json

# Entornos virtuales
venv/
ENV/
env/
.env/
.venv/

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Archivos de configuración local
.env
*.log
*.sqlite3

# Directorios de testing y coverage
.coverage
htmlcov/
.tox/
.pytest_cache/